/* censored-style:not(:defined) {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
} */

/* .marker-line {
  position: relative;
}
.line-body {
  --line-height: 80%;
  --line-top: calc((100% - var(--line-height))/2);
  --line-skew-deg: -8deg;
  position: absolute;
  display: block;
  width: 100%;
  height: var(--line-height);
  top: var(--line-top);
  left: 0;
  transform: skew(-20deg);
  
  background-color: rgba(0,0,0,1);
  box-shadow: 0px 0px 2px 1px;
  border-radius: 3px;
  padding: 0 0.7em;
} */